body {
  gap: 16px;
  display: flex;
  height: 100dvh;
  align-items: center;
  background: #3b245d;
  justify-content: center;
}

.dropzone {
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 8px;
  border: 2px dashed #ffb2ec;
}

.draggable {
  width: 100%;
  height: 100%;
  cursor: grab;
  border-radius: 8px;
  background: #d9b9ff;
}

.draggable.dragging {
  opacity: 0.5;
}
